/*Beta CSS*/

* { /*Helps with math of margin and padding*/
    box-sizing: border-box;
}

html { /*More font stuff*/
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 100%;
    background: rgb(17, 17, 17);
}

.header {
    color: white;
    background-color: rgb(97, 97, 97);
    text-align: center;
    border-radius: 1rem;
}

h1 {
    padding: .5rem 0 0 0;
}

h2 {
    padding: 0 0 .5rem 0;
}

.border {
    margin: 2rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 25vw;
    padding: .5rem 1rem;
    background-color: rgb(202, 202, 202);
    border-radius: 1rem;
}

a {
    color: red;
}

a:hover{
    color: rgb(163, 0, 0);
}

a:visited{
    color: rgb(255, 123, 0);
}